.vercel

# Ignore environment variables
.env

# Ignore node_modules directory
node_modules/
# Ignore virtual environments and dependencies
/backend/node_modules/
/backend/.env/

/frontend/.env/
/frontend/node_modules/


/flask-service/myenv/
/flask-service/.env/


# Ignore large binary files
*.pyd
*.dll
*.so
# *.h5

